.App{
    text-align: center;
    margin: auto;
    max-width: 600px;
}

.todoContainer{
    padding: 30px;
    margin-top: 50px;
    background: #fff;
    border-radius: 10px;
    box-shadow: -9px 17px 13px rgb(0 0 0 / 16%);
}

.title{
    padding-bottom: 10px;
    border-bottom: 2px solid var(--main-bg-color);
    color: rgb(96, 96, 96);
    
}

.todoInput{
    padding: 8px 15px;
    width: 160px;
    border: 1px solid var(--main-smoke-color);
    border-radius: 50px;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 16%);
}

.todoInput:focus {
    border-color:var(--focus-input-color);
    outline: none;
}

.todoSubmit{
    padding: 5px 8px;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    font-size: 18px;
    cursor: pointer;
}

.todoSubmit:hover{
    box-shadow: 0px 5px 5px rgb(0 0 0 / 16%);
    animation: fly 0.6s infinite alternate;
}

@keyframes fly{
    0%{transform:translate(0,3px);}
    100%{transform:translate(0,-3px);}
}
 
.listContainer{
    margin-top: 20px;
}

.finishBox{
    margin-right: 5px;
    /* display: none; */
}

/* .finishlabel{
    cursor: pointer;
    margin-right: 5px;
} */

.todolist{
    margin: 10px;
    padding: 4px;
    border-bottom: 1px dotted var(--main-bg-color);
}

.finished{
    opacity: 0.5;
    text-decoration: line-through;
}

.deleteBnt{
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}
.deleteBnt:hover{
    animation: fly 0.6s infinite alternate;
}